//- --------------------------------
//- HiPew settings
//- --------------------------------

//- This is pace-specific metadata
-
	const page = {
		title: 'Home', desc: 'Live demo of the Hi Pew high performance static website boilerplate.', url: '/',
		published: '2020-02-11', featuredimg: '/assets/robert-katzki-jbtfM0XBeRc-unsplash.jpg'
	}
//- This is a file with helpers
include pug/_helpers.pug


//- --------------------------------
//- Webpage source code
//- --------------------------------

doctype html
html( lang=content.lang )
	include pug/_header.pug
	body#index
		
		main
			section#hero
				h1 Rocket Scientists
				h2 A small guild of the Rocket Pool community's technical contributors
				+rimg.stretch( src=site.system.url+'/assets/dalle-rocket-scientists.png' )

			section.card
				h3 About the Rocket Scientists
				p The Rocket Scientists are a group of early and passionate community contributors to the technical aspect of Rocket Pool.
				p Members have actively contributed to everything from research, documentation, smartnode improvements, and sharing their skills with the community.
				p You can recognise a Rocket Scientist by their Discord role and yellow screen name.

			section.avatars
				h2 Who are the Rocket Scientists?
				.row

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/ken-rocketeer-28.jpg' )
						h4 Ken Smith
						p Ken Smith is the principal of NextBlock Solutions, a blockchain consulting company that provides training and educational services to web3 organizations. Ken is an Ethereum node operator using the Rocket Pool protocol and serving in as a Rocket Scientist with Rocket Pool since 2021. Ken has been active in the Ethereum and other blockchain communities since 2014.
						.row
							a( href='https://dao.rocketpool.net/u/ken' ) DAO Profile
							a( href='https://twitter.com/shtimseht' ) Twitter
							a( href='https://github.com/htimsk' ) Github
					
					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/peteris-rocketeer-2314.jpg' )
						h4 Peteris
						p Author of Rocketscan, a Rocket Pool explorer.
						.row
							a( href='https://rocketscan.io/' ) Rocketscan
							a( href='https://dao.rocketpool.net/u/peteris' ) DAO Profile
							a( href='https://twitter.com/RocketscanIO' ) Twitter
							a( href='https://github.com/htimsk' ) Github

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/xer0-rocketeer-140.jpg' )
						h4 Xer0
						p Author of the Rocket Pool Investment Thesis (RPIT) and RPIT 2.0
						.row
							a( href='https://twitter.com/Xer0_eth' ) Twitter
							a( href='https://discordapp.com/users/Xer0#3297' ) Discord
							a( href='https://www.reddit.com/user/lifesmage' ) Reddit
					
					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/valdorff-phoenix.jpg' )
						h4 Valdorff
						p Deeply involved in governance, thinking technically about future direction, bizdev, and shitposting. <br /><br />Val is a relative newcomer to crypto (early 2022) who got hooked by RP. IMC treasurer, RPIP editor, PRs on documentation and RP smart contracts, embarrassingly active on the forums, #governance, and #general -- always looking for the next highest value item to work on, and reducing friction towards progress. Val is an engineer in real life and trains his cats -- both are relevant skillsets here.
						.row
							a( href='https://dao.rocketpool.net/u/valdorff' ) DAO Profile
							a( href='https://github.com/valdorff' ) Github 
							a( href='https://discordapp.com/users/Val#5027' ) Discord

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/pieter-logicbot-20.png' )
						h4 Pieter
						p Involved in the Rocket Pool community since the 2020 Medalla beta. Passionate about the Ethereum beacon chain & node operating, focusing on Rocket Pool protocol research and governance. Father of two and software developer by day.
						.row
							a( href='https://dao.rocketpool.net/u/pieter' ) DAO Profile
							a( href='https://discordapp.com/users/Pieter#5606' ) Discord
							a( href='https://www.gitpoap.io/p/pieter-astra.eth' ) GitPOAP

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/patches-realistic-selfie.png' )
						h4 Patches
						p Node Operator and Rocket Pool enthusiast since 2021. Author of <a href="https://github.com/jshufro/rocketpool-vfvm">vfvm</a>, <a href="https://github.com/jshufro/rocketpool_deploy_auditor">deploy_auditor</a>, and <a href="https://sp.sprocketpool.net">sp.sprocketpool.net</a>. Contributor to and maintainer of <a href="https://rescuenode.com">Rocket Rescue Node</a>. Contributor to <a href="https://rocketpool.support">rocketpool.support</a>. Maintainer of @faucet-bot. Pizza addict and feline foster parent.
						.row
							a( href='https://twitter.com/0xPatches' ) Twitter
							a( href='https://github.com/jshufro' ) Github
							a( href='https://www.gitpoap.io/p/shufro.eth' ) GitPOAP
							a( href='https://dao.rocketpool.net/u/patches/summary' ) DAO Profile

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/yorrick.jpg' )
						h4 Yorrick
						p RocketPool enthusiast since 2020. Author of <a href="https://eth-docker.net">eth-docker</a>. Node running is <a href="https://cryptomanufaktur.io">my business</a>, started through connections in the RocketPool Discord. Founding member of the oDAO and not part of the RPS oDAO node.
						.row
							a( href='https://cryptomanufaktur.io' ) Cryptomanufaktur
							a( href='https://github.com/CryptoManufaktur-io' ) Github
							a( href='mastodon:@yorickdowne@cryptodon.lol' ) Mastodon
							
					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/poupas-tetris.jpg' )
						h4 Poupas
						p Member of the community since March 2021. Passionate about security. Spent a few hours in #support helping fellow NOs. Contributed to community projects, and research topics such as forced exits: <a href="https://github.com/poupas/rocketpool-split-keys">split-keys</a> and <a href="https://github.com/poupas/bls-vess">bls-vess</a>. Contributor to <a href="https://rescuenode.com">Rocket Rescue Node</a>.
						.row
							a( href='https://twitter.com/poupas' ) Twitter
							a( href='https://github.com/poupas' ) Github

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/dΞΞtoo-rocketeer-27.jpg' )
						h4 dΞΞtoo (hΞ/him)
						p dΞΞtoo is a longtime Rocket Pool community member and node operator; he also serves as a moderator on the Rocket Pool subreddit.
						.row
							a( href='https://www.reddit.com/user/dEEtoooo' ) Reddit
							a( href='https://dao.rocketpool.net/u/deetoo' ) DAO Profile
					
					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/kron-rocketeer-493.jpg' )
						h4 Kron
						p Rocket Pool Discord moderator
						.row
							a( href='https://discordapp.com/users/Kron#0582' ) Discord

					.col.avatar
						+rimg.circle( src=site.system.url+'/assets/mentor-rocketeer-362.jpg' )
						h4 Mentor Palokaj
						p Maker of the Rocketeers, wrote most of the Rocket Pool security and third party monitoring guides. Web2/3 developer at POAP, OnionDAO, and signer.is.
						.row
							a( href='https://rocketeer.fans/' ) Rocketeers
							a( href='https://github.com/actuallymentor' ) Github
							a( href='https://www.gitpoap.io/p/mentor.eth' ) GitPOAP

			section#odao
				h3 About the oDAO
				p The Rocket Scientists run one of Rocket Pool's oDAO nodes. We've of course taken care to run minority clients.


		include pug/_footer.pug